body{
       background-image: url(bg.gif) ;
       background-repeat: no-repeat;
       background-size: cover;
}
#tit {
       font-family: 'Lobster', cursive;
       padding-left: 5px;
       padding-top: 5px;
       font-size: 100px;
       color: WHITE;
}
#det{
       background-color: white;
       width: 495px;
       height: 412px;
}
#comment_box{
      background-color: white;
}
